*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div.menu{
    width: 100%;
    height: 60px;
    background-color: #FBEFEF;
}
div.menu>nav>ul{
    text-align: center;
    
}
div.menu>nav>ul>li{
    display: inline-block;
    list-style: none;
    margin-top: 20px;
  
    


    
}
div.menu>nav>ul>li>a{
    text-decoration: none;
    
    padding: 10px;
    color: black;
   

}












.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: inline-block;
    width:100% !important;
    height: 100% !important;
    object-fit: cover;
  }